<!-- Large Screen -->
<section class="feature d-none d-md-block bg-black-light">
  <div class="container py-5">
    <!-- Title and Pharagraph -->
    <div class="row p-5 text-center">
      <h1 class="text-capitalize pb-3 text-center text-white">our promises to you</h1>
      <div class="border-yellow mx-auto"></div>
    </div>


    <div class="d-flex flex-wrap col-md-12 justify-content-between">
      <!-- content left -->
      <div class="col-md-4 col-12">
        <!-- feature -->
        <div class="col-12 py-2 px-3 px-xl-4">
          <!-- icon -->
          <div class="d-flex justify-content-end">
            <i class="fa-solid fa-list p-2"></i>
          </div>
          <!-- description -->
          <div class="d-flex justify-content-end">
            <p class="text-end">
              We all aspire for our children to be brave and have a strong personality, and this is precisely what we
              will provide
              for your child, we promise that we will give him the strong leadership personality that you aspire to.
            </p>
          </div>
        </div>
        <!-- feature -->
        <div class="col-12 py-2 px-3 px-xl-4">
          <!-- icon -->
          <div class="d-flex justify-content-end">
            <i class="fa-regular fa-heart p-2"></i>
          </div>
          <!-- description -->
          <div class="d-flex justify-content-end">
            <p class="text-end">
              A child cannot grow properly unless he grows up in a community that always encourages him to progress, and
              this is what
              we develop daily in Marbella community, we always promise that we will provide your child with.
            </p>
          </div>
        </div>
      </div>
      <!-- img -->
      <div class="col-md-4 col-12">
        <div class="h-100">
          <img src="../../../assets/images/img1.jpeg" class="" alt="" width="100%" height="100%" srcset="" />
        </div>
      </div>
      <!-- content right -->
      <div class="col-md-4 col-12">
        <!-- feature -->
        <div class="col-12 py-2 px-3 px-xl-4">
          <!-- icon -->
          <div class="d-flex justify-content-start">
            <i class="fa-solid fa-medal p-2"></i>
          </div>
          <!-- description -->
          <div class="">
            <p class="">
              Sport does not only make a child physically strong, but also makes him creative and has a flood of
              attractive ideas
              all the time, we promise you that we will put your child on this path.
            </p>
          </div>
        </div>
        <!-- feature -->
        <div class="col-12 py-2 px-3 px-xl-4">
          <!-- icon -->
          <div class="d-flex justify-content-start">
            <i class="fa-regular fa-hourglass p-2"></i>
            <!-- description -->
          </div>
          <div class="">
            <p class="">
              In Marbella, our goal is to build a strong personality for a new generation that is an intellectual and
              athletic
              leader, and your child must be at the top of this pyramid, this is our biggest promise to you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

















<!-- small Screen -->
<section class="feature h-100 d-block d-md-none bg-black-light">
  <div class="container py-5">
    <!-- Title and Pharagraph -->
    <div class="row px-3  py-4 text-center">
      <h1 class="text-capitalize pb-3 text-center text-white">our promise to you</h1>
      <div class="border-yellow mx-auto"></div>
    </div>
    <!-- content -->
    <div class="d-flex flex-wrap col-md-12 justify-content-between">
      <!-- img -->
      <div class="col-md-4 col-12">
        <div class="h-100">
          <img src="../../../assets/images/img1.jpeg" class="" alt="" width="100%" height="100%" srcset="" />
        </div>
      </div>
      <!-- content  -->
      <div class="col-md-4 col-12">
        <div class="col-12 py-2 px-2">
          <!-- icon -->
          <div class="d-flex justify-content-start">
            <i class="fa-solid fa-list p-2"></i>
          </div>
          <!-- description -->
          <div class="d-flex justify-content-start">
            <p class="text-start">
              We all aspire for our children to be brave and have a strong personality, and this is precisely what we
              will provide for
              your child, we promise that we will give him the strong leadership personality that you aspire to
            </p>
          </div>
        </div>
        <!-- content 2 -->
        <div class="col-12 py-2 px-2">
          <!-- icon -->
          <div class="d-flex justify-content-start">
            <i class="fa-regular fa-heart p-2"></i>
          </div>
          <!-- description -->
          <div class="d-flex justify-content-start">
            <p class="text-start">
              A child cannot grow properly unless he grows up in a community that always encourages him to progress, and
              this is what
              we develop daily in Marbella community, we always promise that we will provide your child with
            </p>
          </div>
        </div>
      </div>
      <!-- content 2 -->
      <div class="col-md-4 col-12">
        <div class="col-12 py-2 px-2">
          <div class="d-flex justify-content-start">
            <i class="fa-solid fa-medal p-2"></i>
          </div>
          <div class="">
            <p class="">
              Sport does not only make a child physically strong, but also makes him creative and has a flood of
              attractive ideas all
              the time, we promise you that we will put your child on this path.
            </p>
          </div>
        </div>

        <div class="col-12 py-2 px-2">
          <div class="d-flex justify-content-start">
            <i class="fa-regular fa-hourglass p-2"></i>
          </div>
          <div class="d-flex justify-content-end">
            <p class="">
              In Marbella, our goal is to build a strong personality for a new generation that is an intellectual and
              athletic leader,
              and your child must be at the top of this pyramid, this is our biggest promise to you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
