@import "../../../assets/style/color-variables.scss";

.activities {
  min-height: 100vh;
  height: 100%;

  h1 {
    color: $black;
  }
}
// .owl-theme .owl-nav{
//   height: 47px !important;
//   position: absolute !important;
//   width: 26px !important;
//   cursor: pointer !important;
//   top: 100px !important;
// }


