<section class="activities pt-5" id="mainActivities">
  <div class="pt-5">
    <!-- title -->
    <div class="container">
      <div class="row text-center">
        <h1 class="text-capitalize pb-2 pt-3 text-center text-capitalize">
          activities
        </h1>
        <div class="border-yellow mx-auto"></div>
        <p class="text-p pt-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur illo
          reprehenderit minus perferendis eaque dolorum iusto nulla nihil
          cupiditate
        </p>
      </div>
    </div>
    <!-- first activity -->
    <div class="pt-5" id="firstActivity">
      <div class="container">
        <div class="d-flex flex-wrap-reverse flex-md-wrap justify-content-md-between col-12">
          <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="p-2">
              <h2 class="text-capitalize pb-3">Swimming</h2>
              <div class="border-yellow"></div>
              <p class="py-4 col-10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis accusamus expedita eos enim incidunt doloremque, quos
                delectus veritatis vel aliquid totam id aut voluptas
                consequuntur moll
              </p>
              <button class="btn btn-yellow">become a member</button>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img7.jpeg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div> 
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img8.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img9.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img10.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div style="height: 150px; overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
          <path d="M-3.10,-0.48 C162.80,129.77 395.87,23.18 507.05,156.40 L507.62,157.40 L0.00,150.00 Z"
            style="stroke: none; fill: #1f1d18"></path>
        </svg>
      </div>
    </div>
    <!-- second activity -->
    <div id="secondActivity">
      <div class="bg-black-light">
        <div class="container py-5">
          <div class="d-flex flex-wrap justify-content-md-between col-12">
            <div class="col-12 col-md-6">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img11.jpeg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div> 
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img12.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img13.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img14.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center ps-0 ps-md-5 align-items-center">
              <div class="p-2">
                <h2 class="text-capitalize pb-3 text-white">Gymnastics</h2>
                <div class="border-yellow"></div>
                <p class="py-4 col-10 p-gray">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Blanditiis accusamus expedita eos enim incidunt doloremque,
                  quos delectus veritatis vel aliquid totam id aut voluptas
                  consequuntur moll
                </p>
                <button class="btn btn-yellow">become a member</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 150px; overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
          <path d="M-0.27,150.48 C310.66,31.08 394.18,83.38 500.27,2.47 L503.67,-0.48 L0.00,0.00 Z"
            style="stroke: none; fill: #1f1d18"></path>
        </svg>
      </div>
    </div>
  </div>

  <!-- ---------------------------------- -->

  <div class="py-5">

    <!-- Third activity -->
    <div class="pt-5" id="thirdActivity">
      <div class="container">
        <div class="d-flex flex-wrap-reverse flex-md-wrap justify-content-md-between col-12">
          <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            <div class="p-2">
              <h2 class="text-capitalize pb-3">Parkour</h2>
              <div class="border-yellow"></div>
              <p class="py-4 col-10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis accusamus expedita eos enim incidunt doloremque, quos
                delectus veritatis vel aliquid totam id aut voluptas
                consequuntur moll
              </p>
              <button class="btn btn-yellow">become a member</button>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img7.jpeg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div> 
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img8.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img9.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="carousel-item active" style="height: 50vh">
                  <img src="../../../assets/images/img10.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div style="height: 150px; overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
          <path d="M-3.10,-0.48 C162.80,129.77 395.87,23.18 507.05,156.40 L507.62,157.40 L0.00,150.00 Z"
            style="stroke: none; fill: #1f1d18"></path>
        </svg>
      </div>
    </div>
    <!-- Fourth activity -->
    <div id="fourthActivity">
      <div class="bg-black-light">
        <div class="container py-5">
          <div class="d-flex flex-wrap justify-content-md-between col-12">
            <div class="col-12 col-md-6">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img11.jpeg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div> 
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img12.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img13.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="carousel-item active" style="height: 50vh">
                    <img src="../../../assets/images/img14.jpg" class="d-block w-100 p-2" height="100%" alt="..." />
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center ps-0 ps-md-5 align-items-center">
              <div class="p-2">
                <h2 class="text-capitalize pb-3 text-white">Football</h2>
                <div class="border-yellow"></div>
                <p class="py-4 col-10 p-gray">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Blanditiis accusamus expedita eos enim incidunt doloremque,
                  quos delectus veritatis vel aliquid totam id aut voluptas
                  consequuntur moll
                </p>
                <button class="btn btn-yellow">become a member</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height: 150px; overflow: hidden">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
          <path d="M-0.27,150.48 C310.66,31.08 394.18,83.38 500.27,2.47 L503.67,-0.48 L0.00,0.00 Z"
            style="stroke: none; fill: #1f1d18"></path>
        </svg>
      </div>
    </div>
  </div>

  <app-other-activity id="otherActivies"></app-other-activity>
</section>
